* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --primaryColor: #1D1D1D;
    --secondaryColor: #F84520;
    --textColor: #484747;
    --whiteColor: #ffffff;

}



a,
p,
li,
ul {
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    line-height: 28px;
    color: initial;
}

.container {
    width: 1200px;
    margin: auto;
}

.Commanheading {
    font-size: 22px;
    position: relative;
    padding: 0 60px;
    width: fit-content;
    margin-bottom: 20px;
}

.hamburger{
    display: none;
}

.Commanheading::before {
    content: '';
    left: 0;
    position: absolute;
    top: 19px;
    width: 40px;
    height: 2px;
    background-color: var(--textColor);
}

.Commanheading::after {
    content: '';
    right: 0;
    position: absolute;
    top: 19px;
    width: 40px;
    height: 2px;
    background-color: var(--textColor);
}

.arrow-down {
    margin: 38px;
    text-align: center;
}


.CommanButton {
    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 283px;
    height: 50px;
    color: var(--whiteColor);
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

.popupImage{
    display: flex;
    width: 200px;
    height: 200px;
    margin-bottom: 20px
}

.orange {
   color: var(--secondaryColor);
   font-weight: 700;
}

.Commanparagraph .orange{
    margin: auto;
}

.CommanButton.black {
    background-color: var(--primaryColor);
}

.top_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_list {
    font-weight: bold;
    display: flex;
    gap: 53px;
    align-items: center;
    padding: 20px;
}

.banner {
    padding: 2rem 3rem;
    background-image: url(../asset//images//backgroundImage.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.Amazing {

    padding: 3rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    width: 55%;
    text-align: left;
}

.image{
    width: 48%;
    display: flex;
}

.image img{
    width: 100%;
}

.Amazing h1 {
    margin: auto;
    text-align: left;
    font-size: 34px;
    line-height: 50px;
}

.Amazing p {
    line-height: 28px;
    padding: 20px 0;
    text-align: left;
    font-size: 14px;
}

red{
    color: red;
}

/* size{
    font-size: 26px;
    line-height: 40px
} */

/* section 2 */
.ABOUT {
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    padding: 160px 0;
    padding-bottom: 0;
    position: relative;
}

.Commanparagraph .orange {
    color: var(--secondaryColor);
}

.commanjustifty {
    display: flex;
    flex-direction: column;
    width: 48%;
}
.Commanparagraph .white{
    color: var(--whiteColor);
}

.aboutMain{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commanabout {
    display: flex;
    width: 40%;
}

.commanabout img{
    width: 100%;
}
.rate_pass{
    position: absolute;
    top: -100px;
    padding: 56px;
    display: flex;
    background-color: var(--secondaryColor);
    color: var(--whiteColor);
    justify-content: space-around;
    width: 60%;
}
.rate_pass H3{
font-size: 52px;
}
.rates p{
    color: var(--whiteColor);
    font-size: 16px;
}
/* section 3 */
.Services {
    padding: 90px 0;
}

.Services .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.images{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
}
.Commanheading.center{
    text-align: center;
}

.serviceContainer{
    display: flex;
    justify-content: space-between;
}

.serviceList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 13px;
    text-align: center;
    width: 24%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.serviceList:hover{
    background-color: var(--secondaryColor);
    transition: 0.5s all;
    cursor: pointer;
}

.serviceList:hover P{
    color: var(--whiteColor);
    transition: 0.5s all;

}

.serviceList span img{
    width: 60px;
    height: 60px;
}

.name{
    font-size: 18px;
    margin: 50px 0;
}

.Services .Commanparagraph.orange{
    margin-bottom: 100px;
}

.programs .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.programList{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.programList li{
    cursor: pointer;
    font-weight: 600;
}
.programMax{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border: 1px solid #e0e0e0;
    margin-top: 20px;
    width: 30%;
}
.programMax a{
    padding: 5px 20px;
    color: var(--whiteColor);
    background-color: var(--secondaryColor);
    margin-top: 30px;
}
.programMain{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.programMax p{
    margin-top: 30px;
    font-weight: 700;
    text-align: center;
}

.programMax span img{
    width: 300px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.programList{
    margin: 40px 0;

}

.testi{
    padding: 90px 0;
    padding-bottom: 20px;
    background-color: var(--primaryColor);
    margin-top: 50px;
}

.testi .testiMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testi .Commanheading h2{
    color: var(--whiteColor);
}
.testiList{

    display: flex;
    width: 48%;

}

.testi .headSupport{
    color: var(--whiteColor);
}


.list{
    text-align: center;
    margin: 80px 0;

}

.list *{

    color: var(--whiteColor);

}


.list span img{
    margin: 50px 0;
}

.listMain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 0;
}

.form{
    width: 40%;
    padding: 40px;
    background-color:#821600;
  }

  form label{
    font-size: 1.2rem;
    color: var(--whiteColor);

  }

  .form input , .form textarea{
    margin-top: 30px!important;
    margin-bottom: 20px;
  }

  input, textarea, button {
    width: 100%;
    padding: 0.5em;
    border: none;
    font-size: 1.2rem;
  }
  input, input[type="email"], textarea {
    margin: 0 0 1em;
    border: 1px solid #ccc;
    outline: none;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 48px;
  }
  input::placeholder , textarea::placeholder{
    font-size: 14px;
  }
  textarea {
    height: 6em;
  }
  input[type="submit"], button {
    background: var(--primaryColor);
    color: #fff;
    cursor: pointer;
  }
  input[type="submit"]:hover, button:hover {
    background: #6E65F4;
  }

  .NamePer{
    margin-top: 20px;
  }


  .popup{
    position: fixed;
    top: 10%;
    z-index: 10;
    margin: auto;
    width: 100%;
  }

  .popupmain{
    margin: auto;
    width: fit-content;
  }

  .popupmain .form{
    margin: auto;
    position: relative;
  }

  .close-btn {
    position: absolute;
    top: 2px;
    right:0;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.close-btn:hover {
    color: #f00;
}
.deplomaCourse, .certificationCourse{
    display: none;
}

#degreeCourses{
    color: white;
    background: #821600;
    padding: 0 8px;
}

.popup::before{
    content: '';
    position: absolute;
    top: -92px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #0000008a;
    z-index: -1;
}

input.error-placeholder::placeholder , textarea.error-placeholder::placeholder {
    color: red;
}

.sidebarCross{
    display: none;
    position: absolute;
    left: 15px;
    font-size: 25px;
    top: 8px;
}

.concentMain{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.concentMain label{
    font-size: 14px;
    margin-left: 20px;
}
.concentMain input{
    width: 50px;
    height: 50px;
}

.thanksPopup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.popup-content {
    background: white;
    width: 80%;
    max-width: 640px;
    padding: 70px 20px;
    border-radius: 10px;
    position: relative;
    text-align: center;
    top: 120px;
    left: 36%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.close-button {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
}

/* loader start */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
#loader {
    background-color: #fb8d33;
    /* height: 100vh; */
    /* width: 100vw; */
    /* overflow: hidden; */

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0,0,0,0.5); */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#loader h1 {
    position: relative;
    margin: 0 auto;
    top: 25vh;
    width: 100vw;
    text-align: center;
    font-family: 'Amatic SC';
    font-size: 6vh;
    color: #333;
    opacity: 0.75;
    animation: pulse 2.5s linear infinite;
}

#cooking {
    position: relative;
    margin: 0 auto;
    top: 0;
    width: 75vh;
    height: 75vh;
    overflow: hidden;
}

#cooking #area {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    background-color: transparent;
    transform-origin: 15% 60%;
    animation: flip 2.1s ease-in-out infinite;
}

#cooking #area #sides {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: 15% 60%;
    animation: switchSide 2.1s ease-in-out infinite;
}

#cooking #area #sides #handle {
    position: absolute;
    bottom: 18%;
    right: 80%;
    width: 35%;
    height: 20%;
    background-color: transparent;
    border-top: 1vh solid #333;
    border-left: 1vh solid transparent;
    border-radius: 100%;
    transform: rotate(20deg) rotateX(0deg) scale(1.3, 0.9);
}
#cooking #area #sides #pan {
    position: absolute;
    bottom: 20%;
    right: 30%;
    width: 50%;
    height: 8%;
    background-color: #333;
    border-radius: 0 0 1.4em 1.4em;
    transform-origin: -15% 0;
}

#cooking #area #pancake {
    position: absolute;
    top: 24%;
    width: 100%;
    height: 100%;
    transform: rotateX(85deg);
    animation: jump 2.1s ease-in-out infinite;
}

#cooking #area #pancake #pastry {
    position: absolute;
    bottom: 26%;
    right: 37%;
    width: 40%;
    height: 45%;
    background-color: #333;
    box-shadow: 0 0 3px 0 #333;
    border-radius: 100%;
    transform-origin: -20% 0;
    animation: fly 2.1s ease-in-out infinite;
}

#cooking .bubble {
    position: absolute;
    border-radius: 100%;
    box-shadow: 0 0 0.25vh #4d4d4d;
    opacity: 0;
}

#cooking .bubble:nth-child(1) {
    margin-top: 2.5vh;
    left: 58%;
    width: 2.5vh;
    height: 2.5vh;
    background-color: #454545;
    animation: bubble 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
}

#cooking .bubble:nth-child(2) {
    margin-top: 3vh;
    left: 52%;
    width: 2vh;
    height: 2vh;
    background-color: #3d3d3d;
    animation: bubble 2s ease-in-out 0.35s infinite;
}

#cooking .bubble:nth-child(3) {
    margin-top: 1.8vh;
    left: 50%;
    width: 1.5vh;
    height: 1.5vh;
    background-color: #333;
    animation: bubble 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
}

#cooking .bubble:nth-child(4) {
    margin-top: 2.7vh;
    left: 56%;
    width: 1.2vh;
    height: 1.2vh;
    background-color: #2b2b2b;
    animation: bubble 1.8s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
}

#cooking .bubble:nth-child(5) {
    margin-top: 2.7vh;
    left: 63%;
    width: 1.1vh;
    height: 1.1vh;
    background-color: #242424;
    animation: bubble 1.6s ease-in-out 1s infinite;
}


@keyframes pulse {
    0% {
        transform: scale(1, 1);
        opacity: 0.25;
    }
    50% {
        transform: scale(1.2, 1);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0.25;
    }
}

@keyframes flip {
    0% {
        transform: rotate(0deg);
    }

    5% {
        transform: rotate(-27deg);
    }

    30%, 50% {
        transform: rotate(0deg);
    }

    55% {
        transform: rotate(27deg);
    }

    83.3% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes switchSide {
    0% {
        transform: rotateY(0deg) ;
    }

    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes jump {
    0% {
        top: 24;
        transform: rotateX(85deg);
    }
    25% {
        top: 10%;
        transform: rotateX(0deg);
    }
    50% {
        top: 30%;
        transform: rotateX(85deg);
    }
    75% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(85deg);
    }
}

@keyframes fly {
    0% {
        bottom: 26%;
        transform: rotate(0deg);
    }
    10% {
        bottom: 40%;
    }
    50% {
        bottom: 26%;
        transform: rotate(-190deg);
    }
    80% {
        bottom: 40%;
    }
    100% {
        bottom: 26%;
        transform: rotate(0deg);
    }
}

@keyframes bubble {
    0% {
        transform: scale(0.15, 0.15);
        top: 80%;
        opacity: 0;
    }
    50% {
        transform: scale(1.1, 1.1);
        opacity: 1;
    }
    100% {
        transform: scale(0.33, 0.33);
        top: 60%;
        opacity: 0;
    }
}
/* loader end */
@media screen and (max-width: 1300px) {

    .container{
        width: 100%;
    }

    .rate_pass{
        width: 100%;
    }

    .aboutMain , .serviceContainer , .listMain, .programMain{
        justify-content: space-evenly;
    }

  }

  @media screen and (max-width: 1200px) {
    .menu {
        position: fixed;
        right: -500px;
        width: 40%;
        height: 100vh;
        background: #ffffff;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        z-index: 1;
        top: 0;
        transition: 0.3 ease-in;
    }

    span.hamburger.active + .menu a.sidebarCross{
        display: flex;
    }
    .aboutMain{
        flex-wrap: wrap;
        padding: 0 3rem;
    }

    .commanjustifty{
        width: 100%;
    }

    .programMax span img{
        width: 100%;
    }

    .commanabout{
        width: 100%;
    }
    .commanabout img{
        margin: auto;
    }

    .listMain{
        flex-wrap: wrap;
    }
    .testiList{
        width: 100%;
    }
    .form{
        width: 100%;
    }
    .listMain{
        padding: 20px 3rem;
    }
    .programMax{
        width: 47%;
    }
    .serviceContainer{
        flex-wrap: wrap;
    }
    .serviceList{
        width: 40%;
    }

    .menu_list{
        display: flex;
        flex-direction: column;
    }
    .hamburger{
        display: flex;
        width: 30px;
        height: 30px;

    }
  }

  @media screen and (max-width:700px) {
    .logo img{
        width: 48%;
    }
    .Amazing {

        padding: 3rem 0rem;
        flex-wrap: wrap;
    }

    .content{
        width: 100%;
    }

    .image{
        width: 100%;
    }

    .Amazing h1{
        font-size: 25px;
    }
    .Amazing p{
        padding: 20px 0;
    }
    .rate_pass{
        flex-wrap: wrap;
        position: initial;
        padding: 30px;
    }

    .listMain{
        padding: 20px 1rem;
    }

    .ABOUT{
        padding: 0;
        padding-bottom: 65px;
    }

    .aboutMain{
        padding: 0 2rem;
    }

    .rates{
        margin-bottom: 20px;
    }

    .commanabout{
        display: none;
    }

    .aboutMain{
        margin-top: 50px
    }

    .serviceContainer{
        padding: 0 30px;
    }

    .serviceList{
        width: 100%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        margin-bottom: 30px;
    }

    .programMain{
        padding: 0 30px;
    }

    .programMax{
        width: 100%;
    }

    .form {
        width: 90%;
        top: -65px;
    }

  }

